<div ng-controller="activitiesCtrl">
	<h1>Activities</h1>
	
	<table border="1">
		<tr>
			<th>Name</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="a in activities">
			<td>{{a.name}}</td>
			<td><button ng-click="goToEdit(a.id)">Edit</button></td>
			<td><button ng-click="deleteActivity(a.id)">Delete</button></td>
			<td><button ng-click="view(a.id)">View</button></td>
		</tr>
	</table>
	
	<button ng-click="goToAdd()">Add activity</button>
	<br/>
	<button ng-click="reverse()">Reverse</button>
	<br/>
	
</div>