<html>
	<head>
		<script src="angular.js"></script>
		<script src="domaci3_6.js"></script>
	</head>
	<body ng-app="domaci3.6_App">
		<h1>Domaci 3.6</h1>
		
		<div ng-controller="appController">
		
			<h3>1.zadatak</h3>
			
			Unesite tekst: <input ng-model="name" type="text" name="text"/>
			<br/>
			
			Dugme za brisanje: <button ng-disabled="name == ''" 
			ng-click="deleteInsert()" 
			type="button">Izbrisi tekst!</button>
			<br/>
			
		</div>
		
		<div ng-controller="appController">
		
			<h3>2.zadatak</h3>	
		
			Unesite tekst: <input ng-model="name" type="text" name="text"/>
			<br/>
			Unesite tekst: <input type="text" name="text" value="{{name}}"/>
		
		</div>
		
	</body>
</html>